<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap">
</head>

<body>
    <section class="Sub-header">
        <nav>
            <a href="" class="logo">Farm
                <i class="fab fa-staylinked"></i>Protection
            </a>
            <div class="nav-links" id="navLinks">
                <!-- reposnive bar open and close -->
                <i class="fa fa-times" onclick="hideMenu()"></i>
                <ul>
                    <li><a href=""{{ url_for('home') }}"">Home</a></li>
                    <li><a href="course.html">Our Model</a></li>
                    <li><a href="blog.html">Project Details</a></li>
                    <li><a href="about.html">About</a></li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>
            </div>
            <i class="fa fa-bars" onclick="showMenu()"></i>
            <!-- reposnive bar open and close -->
        </nav>
        <h1>About Us</h1>
    </section>

    <!-- About Us Section Start -->

    <section class="about-us">
        <div class="row">
            <div class="about-col">
                <h1>Top Farm protection Model</h1>
                <p> This project aim to protect the farm from the invasion of agriculture field from the bigger pest, here we mainly discuss abount the cow. This model help in protecting the crops that are harested by the people from the bigger Pest.It help in the increase or productivity and benefit. This model specially help small farmer.
                </p>
                <a href="#" class="hero_btn btn">EXPLORE NOW</a>
            </div>
            <div class="about-col">
                <img src="img/crop6.jpg" alt="">
            </div>
        </div>
    </section>

    <!-- About Us Section end -->

    <!-- Footer Section start -->
    <section class="footer">
        <hr>
        <h4>About Us</h4>
         <p>This Website aim Farm protecion from cow using Image Processing, CNN, Sensor
            <br> using Image Processing, CNN, Raspberry pi.
            <br>Sensor.
        </p>
    </section>
    <!-- Footer Section end -->

    <script src="script.js"></script>
</body>

</html>