<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Farm Protection</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap">
</head>

<body>
    <!-- Created BY - Sagar Developer -->
    <section class="header">
        <nav>
            <a href="#" class="logo">Farm
                <i class="fab fa-staylinked"></i>Protection
            </a>
            <div class="nav-links" id="navLinks">
                <!-- Reposnive bar open and close -->
                <i class="fa fa-times" onclick="hideMenu()"></i>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="/static/course.html">Our Model</a></li>
                    <li><a href="/static/blog.html">Project Details</a></li>
                    <li><a href="/static/about.html">About</a></li>
                    <li><a href="/static/contact.html">Contact</a></li>
                </ul>
            </div>
            <i class="fa fa-bars" onclick="showMenu()"></i>
            <!-- Reposnive bar open and close -->
        </nav>

        <div class="text_box">
            <h2>GET READY</h2>
            <p id="headtext">TO PROTECT YOUR FARM</p>
            <p>Farm protection from bigger pest using VGG16, Image Processing, Raspberry pi and Sensor.
                <br> Also to estimate the amount of damage caused by cow.
            </p>
            <a href="#" class="hero_btn">Visit Us To Know More</a>
        </div>
    </section>

    <!-- Course Section Start -->
    <section class="course" background >
        <div class="PageBlock">
            <div class="verticalLine"></div>
            <div class="Clear"></div>
        </div>
        <h1>EXPLORE OUR <br> MAIN PORTAL</h1>
        <p>Two Main Objective</p>

        <div class="row">
            <div class="course-col">
                <h3>Cow Detection in Field</h3>
                <p>One of the major part of this project is to detect the presence of cow in the agriculture field. When
                    ever cow enter into the field, Camera and PIR sensor is used to detect and then Buzzer and LED light is
                    ON which makes the animal run away from the field.</p>
            </div>
            <div class="course-col">
                <h3>Percentage of Farm Destruction</h3>
                <p>When ever the animal runs aways upon the action of Buzzer and LED light on detection. After some minutes
                    the Pi camera click the picture of the field and then using the CNN and other machine learning algorithm,
                    calculate the amount of agriculture field damaged.</p>
            </div>
        </div>
    </section>
    <!-- Course Section End -->

    <!-- Campus Section Start-->

    <section class="campus">
        <div class="PageBlock">
            <div class="verticalLine"></div>
            <div class="Clear"></div>
        </div>
        <h1>Our Goal</h1>
        <p>We focus on 3 paramters</p>

        <div class="row">
            <div class="campus-col">
                <img src="/static/img/crop.jpg" alt="">
                <div class="layer">
                    <h3>FARM PROTECTION</h3>
                </div>
            </div>
            <div class="campus-col">
                <img src="/static/img/money2.jpg" alt="">
                <div class="layer">
                    <h3>MORE INCOME</h3>
                </div>
            </div>
            <div class="campus-col">
                <img src="/static/img/crop8.webp" alt="">
                <div class="layer">
                    <h3>MORE GRENERY</h3>
                </div>
            </div>
        </div>
    </section>
    <!-- Campus Section End -->
 <!-- Testimonials Section Start -->
    <section class="testimonials">
        <div class="PageBlock">
            <div class="verticalLine"></div>
            <div class="Clear"></div>
        </div>
        <h1>Our Guides</h1>
        <p>We thanks to our guide to share their knowledge in completion our project</p>

        <div class="row">
            <div class="testimonials-col">
                <img src="/static/img/mukesh.jpg" alt="oo..">
                <div>
                    <h3>Dr. Mukesh Saini</h3>
                    <p>Assistant Professor
                    <br>Department of Computer Science and Engineering
                    <br>Indian Institute of Technology, Ropar
                    <br>mukesh@iitrpr.ac.in</p>

                </div>
            </div>
            <div class="testimonials-col">
                <img src="/static/img/neeraj.jpg" alt="oo..">
                <div>
                    <h3>Dr. Neeraj Goel</h3>
                    <p>Assistant Professor
                    <br>Department of Computer Science and Engineering
                    <br>Indian Institute of Technology, Ropar
                    <br>neeraj@iitrpr.ac.in</p>

                </div>
            </div>
        </div>
    </section>
    <!-- Testimonials Section End -->

    <!-- Facilities Section Start -->
    <section class="facilities">
        <div class="PageBlock">
            <div class="verticalLine"></div>
            <div class="Clear"></div>
        </div>
        <h1>Our TEAM</h1>
        <p>Our main team consist of 3 members.</p>

        <div class="row">
            <div class="facilities-col">
                <img src="/static/img/user.png" alt="">
                <h3>Utkarsh Suryaman</h3>
                <p>Student at IIT,Ropar
                    <br>2022AIM1015
                    <br>2022aim1015@iitrpr.ac.in
                </p>
            </div>
            <div class="facilities-col">
                <img src="/static/img/user.png" alt="">
                <h3>Ankeshwor Kumar Mishra</h3>
                <p>Student at IIT,Ropar
                    <br>2022CSM1021
                    <br>2022csm1021@iitrpr.ac.in
                </p>
            </div>
            <div class="facilities-col">
                <img src="/static/img/user.png" alt="">
                <h3>Parixit chaudhary</h3>
                <p>Student at IIT,Ropar
                    <br>2022AIM1007
                    <br>2022aim1007@iitrpr.ac.in
                    <br>Web Development Head
                </p>
            </div>
        </div>
    </section>
    <!-- Facilities Section End -->


    <!-- Call To Action Section Start -->
    <section class="cta">
        <h1>FOR ANY QUERIES</h1>
        <a href="/static/contact.html" class="hero_btn">CONTACT US</a>
    </section>
    <!-- Call To Action Section End -->

    <!-- Footer Section Start -->
    <section class="footer">
        <hr>
        <h4>About Us</h4>
        <p>This Website aim Farm protecion from cow using Image Processing, CNN, Sensor
            <br> using Image Processing, CNN, Raspberry pi.
            <br>Sensor.
        </p>


    </section>
    <!-- Footer Section End -->

    <script src="/static/script.js"></script>
</body>

</html>